:root { 
--green_300:#7eb78a; 
--red_600:#e84142; 
--teal_900_19:#023e2519; 
--black_900_7c:#0318117c; 
--red_800:#c5221f; 
--blue_A200:#4285f4; 
--light_blue_500:#13b5ec; 
--black_900_3f:#0000003f; 
--black_900_01:#031811; 
--teal_900:#023e25; 
--light_blue_A700:#0085ff; 
--pink_500:#ee1d52; 
--blue_gray_900:#1b314f; 
--black_900_02:#010b0c; 
--red_A700:#eb001b; 
--gray_600:#797979; 
--gray_400:#c5c5c5; 
--blue_gray_100:#d9d9d9; 
--blue_700:#2a5ada; 
--amber_500:#fbbc05; 
--blue_gray_300:#94a6c3; 
--black_900_0f:#0000000f; 
--gray_200:#e7e7e7; 
--blue_50:#e2eeff; 
--deep_purple_50:#f1ebfe; 
--indigo_400:#3e6fd5; 
--black_900_11:#00000011; 
--red_A700_01:#ea001e; 
--white_A700:#ffffff; 
--black_900_16:#00000016; 
--green_200:#92fba9; 
--blue_gray_50:#eef0f4; 
--red_700:#d82122; 
--blue_gray_100_01:#cccccc; 
--blue_A700:#2b6def; 
--indigo_A200:#627eea; 
--red_500:#ea4335; 
--green_800:#0d8838; 
--green_600:#34a853; 
--teal_200:#92d1bc; 
--deep_purple_300:#9082b7; 
--teal_400:#26a17b; 
--yellow_500:#fffa37; 
--black_900:#000000; 
--gray_500_01:#979797; 
--red_A400:#fc0d1b; 
--gray_500_02:#9c8881; 
--deep_orange_A400:#ff5000; 
--gray_900_02:#0d1e30; 
--gray_500:#9d9d9d; 
--blue_gray_400:#868794; 
--amber_400:#ffd923; 
--blue_700_01:#2775ca; 
--blue_800:#0d58c6; 
--gray_900:#01241d; 
--gray_900_01:#201a2d; 
--green_50:#e2f6db; 
--gray_300:#e9dcd6; 
--gray_100:#ebf9f6; 
--teal_200_01:#80bcaf; 
--teal_200_02:#69c9d0; 
--blue_400:#47acdf; 
--indigo_500:#3362ab; 
}